# Auto detect text files and perform LF normalization
* text=auto

# Solidity files
*.sol text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf

# Graphics
*.png binary
*.jpg binary
*.gif binary
*.svg text

# Exclude files from exports
.gitattributes export-ignore
.gitignore export-ignore